# FiftyOne Configuration
FIFTYONE_ANNOTATION_BACKENDS=*,darwin
FIFTYONE_DARWIN_CONFIG_CLS=darwin_fiftyone.DarwinBackendConfig
FIFTYONE_DARWIN_API_KEY=your_api_key_here
FIFTYONE_DARWIN_TEAM_SLUG=your-team-slug-here # voxel51-testing # This is a constant, we always use this IRL team for testing

# DarwinPy Configuration
DARWIN_BASE_URL=https://darwin.v7labs.com

# External Storage Testing Configuration (Optional)
FIFTYONE_DARWIN_TEST_BUCKET=bucket-here
FIFTYONE_DARWIN_TEST_EXTERNAL_STORAGE=external-storage-here
